@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2022-04-19 20:12:24
 * @version $Id$
 */
.m-box-box {
  border: 1px solid #000;
  height: 250px;
  width: 380px;
  padding: 20px 10px;
  position: relative;
}

.m-hang {
  display: flex;
  border: 1px solid #000;
  height: 35px;
  margin-top: 10px;
}

.m-lie1 {
  border-right: 1px solid #000;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
}

.m-lie2 {
  width: 290px;
}

.m-del {
  border-left: 1px solid #000;
  text-align: center;
  width: 65px;
  line-height: 35px;
}

.m-add {
  height: 35px;
  width: 95px;
  border: 1px solid #000;
  background: #339966;
  color: #fff;
  text-align: center;
  line-height: 35px;
  position: absolute;
  bottom: 20px;
  right: 10px;
}