@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2022-04-04 23:21:10
 * @version $Id$
 */
body {
	background: #99BD90;	
	display: flex;
	flex-wrap: wrap;
}
.m1 {
	margin: 10px;
}
.m1-top{
	width: 390px;
	height: 260px;
	display: flex;
}
.m1-top>li {
	background: #FFFFEB;
	width: 390px;
	height: 260px;
	list-style: none;
}
.m1-bt {
	width: 390px;
	height: 110px;
	display: flex;
	flex-wrap: wrap;
	background: #FFE6F4;
}
.m1-bt-t1 {
	width: 368px;
	height: 18px;
	background: white;
	border: 1px solid black;
	margin-top: 10px;
	margin-left: 10px;
}
.m1-bt-t1>span {
	margin-left: 10px;
	font-size: 10px;
	position: absolute;
	padding-top: 2px;
}
.m1-bt-t2 {
	width: 368px;
	height: 18px;
	background: white;
	border: 1px solid black;
	margin-left: 10px;
}
.m1-bt-t2>span {
	margin-left: 10px;
	font-size: 10px;
	position: absolute;
	padding-top: 2px;
}
.m1-bt-t3 {
	width: 368px;
	height: 28px;
	background: white;
	border: 1px solid black;
	margin-left: 10px;
}
.m1-bt-t3-p1 {	
	margin-left: 10px;	
	font-size: 10px;	
	color: #F95A7B;
	font-weight: bold;
}
.m1-bt-t3-p2 {
	color: #F95A7B;
	font-weight: bold;
	font-size: 20px;
}

.m1-bt-t3-p3 {
	text-decoration: line-through;
	font-size: 10px;
}
.m1-bt-t3-p4 {
	font-size: 10px;
	margin-left: 122px;
}
