@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2022-03-02 09:48:07
 * @version $Id$
 */
 body {
   margin: 0;
 }

 li{
   list-style: none;
 }

.m-bk {
  position: absolute;
  width: 608px;
  height: 881px;
  background: url(e03-2.jpg)no-repeat;
  background-size: 75%;
  opacity: 0.4;
}


.m-hd{
  height: 56px;
  padding:15px;
  text-align: center;
  padding-left: 30px;
  letter-spacing: 1px;
}

.m-hd>li{
  float: left;
  padding:10.1px 23.1px;
}

.m-hd>li>label{
  display: block;
  color: #dd4500;
  font-weight: bold;
  font-size: 20px;
}

.m-hd>li>span{
  font-size:17px;
}

.m-hd1 {
    padding-top: 3px;
    padding-right: 24px;
    padding-bottom: 3px;
    text-align: center;
    padding-left: 119px;
    letter-spacing: 1px;
}

.m-hd1>span {
    float: left;
    font-size: 17px;
    color: #dd4500;
    padding: 14px 15px;
}

.m-hd2 {
    height: 56px;
    position: absolute;
    padding: 57px;
    text-align: center;
    padding-left: 19px;
    letter-spacing: 1px;
}
.m-hd2>span {
  float: left;
  font-size: 17px;
  font-weight: bold;
  padding:10.1px 23.1px;
}
.m-hd3 {
    height: 56px;
    position: absolute;
    padding: 110px;
    text-align: center;
    padding-left: 5px;
    letter-spacing: 0.5px;
}
.m-hd3>span {
  color: #dd4500;
  float: left;
  font-size: 17px;
  padding:10.1px 23.1px;
}

.m-hd4 {
    height: 56px;
    position: absolute;
    padding: 110px;
    text-align: center;
    padding-left: 200px;
    letter-spacing: 1px;
}
.m-hd4>span {
  color: #dd4500;
  float: left;
  font-size: 17px;
  padding:10.1px 23.1px;
}
.m-hd5 {
    height: 56px;
    position: absolute;
    padding: 147px;
    text-align: center;
    padding-left: 5px;
    letter-spacing: 1px;
}
.m-hd5>span {
  float: left;
  font-size: 17px;
  padding:10.1px 23.1px;
}

.m-hd6 {
    height: 56px;
    position: absolute;
    padding: 147px;
    text-align: center;
    padding-left: 200px;
    letter-spacing: 1px;
}
.m-hd6>span {
  float: left;
  font-size: 17px;
  padding:10.1px 23.1px;
}

.m-hd7 {
    color: #dd4500;
    height: 56px;
    position: absolute;
    padding: 263px;
    text-align: center;
    padding-left: 14px;
    letter-spacing: 1px;
}
.m-hd7>span {
  float: left;
  font-size: 17px;
  padding:10.1px 23.1px;
}

.m-hd8 {
    height: 56px;
    position: absolute;
    padding: 264px;
    text-align: center;
    padding-left: 132px;
    letter-spacing: 1px;
}
.m-hd8>span {
  float: left;
  font-size: 17px;
  padding:10.1px 23.1px;
}

.m-hd9 {
    height: 56px;
    position: absolute;
    padding: 264px;
    text-align: center;
    padding-left: 242px;
    letter-spacing: 1px;
}
.m-hd9>span {
  float: left;
  font-size: 17px;
  padding:10.1px 23.1px;
}

.m-hd10 {
    height: 56px;
    position: absolute;
    padding: 264px;
    text-align: center;
    padding-left: 351px;
    letter-spacing: 1px;
}
.m-hd10>span {
  float: left;
  font-size: 17px;
  padding:10.1px 23.1px;
}

.m-hd11 {
    height: 56px;
    position: absolute;
    padding: 310px;
    text-align: center;
    padding-left: 33px;
    letter-spacing: 0.5px;
}

.m-hd11>span {
    color: #6c6c6c;
    float: left;
    font-size: 17px;
    /* font-weight: bold; */
    padding: 25.1px 18.1px;
}

.m-hd12 {
    height: 56px;
    position: absolute;
    padding: 356px;
    text-align: center;
    padding-left: 27px;
    letter-spacing: 0.5px;
}

.m-hd12>span {
    color: #6c6c6c;
    float: left;
    font-size: 17px;
    /* font-weight: bold; */
    padding: 25.1px 18.1px;
}

.m-hd13 {
    height: 56px;
    position: absolute;
    padding: 395px;
    text-align: center;
    padding-left: 24px;
    letter-spacing: 0.5px;
}

.m-hd13>span {
    float: left;
    font-size: 17px;
    /* font-weight: bold; */
    padding: 25.1px 18.1px;
}

.m-hd14 {
    height: 56px;
    position: absolute;
    padding: 434px;
    text-align: center;
    padding-left: 22px;
    letter-spacing: 0.5px;
}

.m-hd14>span {
    color: #6c6c6c;
    float: left;
    font-size: 17px;
    /* font-weight: bold; */
    padding: 25.1px 18.1px;
}

.m-hd15 {
    height: 56px;
    position: absolute;
    padding: 434px;
    text-align: center;
    padding-left: 83px;
    letter-spacing: 2px;
}

.m-hd15>span {
    color: #dd4500;
    float: left;
    font-size: 17px;
    font-weight: bold;
    padding: 25.1px 18.1px;
}

.m-hd16 {
  position: absolute;
  width: 101px;
  height: 39px;
  margin-top: 493px;
  margin-bottom: 20px;
  margin-left: 35px;
  background-color: #dd4500;
}

.m-hd17 {
    height: 56px;
    position: absolute;
    padding: 474px;
    text-align: center;
    padding-left: 29px;
    letter-spacing: 2px;
}

.m-hd17>span {
    color: #ffffff;
    float: left;
    font-size: 17px;
    font-weight: bold;
    padding: 25.1px 18.1px;
}

.m-hd18 {
    /* position: absolute; */
    width: 435px;
    height: 39px;
    margin-top: 4px;
    margin-bottom: 20px;
    margin-left: 11px;
    background-color: #ffe5de;
}

.m-hd19 {
    position: absolute;
    width: 282px;
    height: 37px;
    margin-top: 309px;
    margin-left: 35px;
    border-style: solid;
    border-color: grey grey grey grey;
}
.m-hd20 {
  position: absolute;
    width: 282px;
    height: 37px;
    margin-top: 347px;
    margin-left: 35px;
    border-style: solid;
    border-color: grey grey grey grey;
}

.m-hd21 {
    position: absolute;
    width: 105px;
    height: 113px;
    margin-top: 143px;
    margin-left: 10px;
    border-style: solid;
    border-top-color: rgb(221, 69, 0);
    border-right-color: rgb(221, 69, 0);
    border-bottom-color: transparent;
    border-left-color: rgb(221, 69, 0);
}
.m-hd22 {
  position: absolute;
  width: 282px;
  height: 234px;
  margin-top: 257px;
  margin-left: 10px;
  border-style: solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: rgb(221, 69, 0);
  border-left-color: rgb(221, 69, 0);
}
.m-hd23 {
    position: absolute;
    width: 326px;
    height: 234px;
    margin-top: 257px;
    margin-left: 116px;
    border-style: solid;
    border-top-color: rgb(221, 69, 0);
    border-right-color: rgb(221, 69, 0);
    border-bottom-color: rgb(221, 69, 0);
    border-left-color: transparent;
}